---

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

ignore: |
  ../asm/canonical-service/
  ../asm/third-party/

rules:
  braces: enable
  brackets: enable
  colons: enable
  commas: enable
  comments:
    level: warning
  comments-indentation:
    level: warning
  document-end: disable
  document-start:
    level: error
  empty-lines: enable
  empty-values: disable
  hyphens: enable
  indentation: enable
  key-duplicates: enable
  key-ordering: disable
  line-length:
    max: 80
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
    level: warning
  new-line-at-end-of-file: enable
  new-lines: enable
  octal-values: disable
  trailing-spaces: enable
  truthy: enable
